{% extends "base-iptables.yml.jinja" %}
{% block tasks %}
  - name: Insere regra simples
    ansible.builtin.iptables:
      action: insert
      chain: INPUT
      protocol: {{ protocol }}
      destination_port: {{ ports }}
      source: {{ source }}
      comment: {{ comments }}
      jump: DROP
{% endblock %}